

<div class="container">   
    <div class="card">
       <div class="card-header"><h3>Student Information</h3></div>
       <div class="card-body">
           <div class="row">
               <div class="col-md-4">
                   <div class="form-group">
                    <label for="name">First Name:</label>
                    <input type="text" placeholder="first name" name="fn" class="form-control">
                   </div>
               </div>
               <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Middle Name:</label>
                    <input type="text" placeholder="middle name" name="mn" class="form-control">
                </div>
               </div>
               <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Last Name:</label>
                    <input type="text" placeholder="Surname" name="sn" class="form-control">
                </div>
               </div>
           </div>
           <div class="row">
               <div class="col-md-6">
                   <div class="form-group">
                       <label>Date of Birth:</label>
                       <input type="date" name="dob" class="form-control">
                   </div>
               </div>
               <div class="col-md-2">
                <div class="form-group">
                    <label>Gender:</label><br>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label><br>
                    <input type="radio" id="other" name="gender" value="other">
                    <label for="other">  Other</label>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Blood Group:</label>
                        <select name="select" class="form-control">
                            <option>A+</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>O+</option>
                            
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" name="mail" class="form-control" placeholder="Enter mail ID">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Contact Number:</label>
                        <input type="number" name="num" class="form-control" placeholder="Enter Contact Number">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Family Contact:</label>
                        <input type="number" name="fn" class="form-control" placeholder="Enter Family Contact">
                    </div>
                </div>
            </div>
            <label for="name">Address:</label>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                     
                     <input type="text" placeholder="House/ Flat Number" name="fn" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                 <div class="form-group">
                    
                     <input type="text" placeholder="Street" name="mn" class="form-control">
                 </div>
                </div>
                <div class="col-md-4">
                 <div class="form-group">
                    
                     <input type="text" placeholder="Town/Village" name="sn" class="form-control">
                 </div>
                </div>
           </div>
           <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                 
                 <input type="text" placeholder="Landmark" name="fn" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
             <div class="form-group">
                
                 <input type="text" placeholder="State" name="mn" class="form-control">
             </div>
            </div>
            <div class="col-md-4">
             <div class="form-group">
                
                 <input type="number" placeholder="Post Code" name="sn" class="form-control">
             </div>
            </div>
       </div><hr>

       <div class="card-header"><h3>Personal Information</h3></div>
       <div class="card-body">
           <div class="row">
               <div class="col-md-4">
                   <div class="form-group">
                    <label for="name">SSC:</label>
                    <input type="text" placeholder="School name" name="fn" class="form-control"><br>
                    <input type="text" placeholder="Exam Board" name="fn" class="form-control"><br>
                    <input type="number" placeholder="Percent scored" name="fn" class="form-control">
                   </div>
               </div>
               <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Intermediate:</label>
                    <input type="text" placeholder="Collage name" name="fn" class="form-control"><br>
                    <input type="text" placeholder="Exam Board" name="fn" class="form-control"><br>
                    <input type="number" placeholder="Percent scored" name="fn" class="form-control">
                </div>
               </div>
               <div class="col-md-4">
                <div class="form-group">
                    <label for="name">Degree:</label>
                    <input type="text" placeholder="Collage/ University Name" name="fn" class="form-control"><br>
                    <input type="text" placeholder="Exam Board" name="fn" class="form-control"><br>
                    <input type="number" placeholder="Percent scored" name="fn" class="form-control">
           
                </div>
               </div>
           </div>
           </div>
       </div>
    </div>
